@model BurgerProjesi.Entities.Product
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Areas/Admin1/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Ürün Girişi</h2>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Ürün Girşi</h4>
            <p class="card-description">
                
            </p>
            <form method="post">
                <label>Ürün Adı:</label>
                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                <br />
                <label>Ürün Fiyatı:</label>
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                <br />
                <label>Ürün Görsel URL:</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />
                <label>Ürün Kategori:</label>
                @Html.DropDownListFor(x=>x.CategoryID, (List<SelectListItem>)ViewBag.V, new { @class = "form-control" })
                <br />
                <label>Ürün Açıklaması:</label>
                @Html.TextAreaFor(x => x.Description, 4, 0, new { @class = "form-control" })
                <br />

                <button class="btn btn-info">Ürün Ekle</button>
            </form>
        </div>
    </div>
</div>